
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
::-webkit-scrollbar {
  width: 12px;
  background-color: #10110e;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top right, #fd621a, #df2900);
  border-radius: 80px ;
  box-shadow: 10px 10px 22px black;
  
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  list-style: none;
  backface-visibility: hidden;
}
//Section1
.content{
  height: 3000px;
  width: 100%;
  background-color: #070606;

  .section1{
    padding-top: 18%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

  .shape_in{
    animation: shape_in 3000ms cubic-bezier(.17,.67,.18,1) 0ms 1 normal forwards;
  }
  .shape2_in{
    animation: shape2_in 2900ms cubic-bezier(.17,.67,.18,1) 0ms 1 normal forwards;
  }
    @keyframes shape_in{
      0% {
        transform: rotate(100deg) scale(0);
      }
      100% {
        transform: rotate(0deg) scale(1);     
      } 
    }
    @keyframes shape2_in{
      0% {
        transform: rotate(-100deg) scale(0);
      }
      100% {
        transform: rotate(0deg) scale(1);     
      }
    }
      .contentOne_shape {
      position: absolute;
      width: 40%;   
      right: 0; 
      z-index: 1;
      opacity: 1;
      transform-origin: 70% 55%;
      animation: anima_shape 200000ms ease-in-out 0ms infinite;
    }
    .contentOne_shape2{
      position: absolute;
      width: 40%;   
      right: 0; 
      z-index: 1;
      opacity: 1;
      transform-origin: 70% 55%;
      animation: anima_shape 130000ms ease-in-out 0ms infinite;
    }
    @keyframes anima_shape {
      0% {
        transform: rotate(0deg) scale(1);
      }
      25% {
      transform: translate(-30px, -80px) rotate(180deg) scale(1.1);
      }
      50% {
        transform: rotate(360deg) scale(1.05);
      }
      75% {
        transform:  rotate(180deg) scale(1.1);
      }
      100% {
        transform: rotate(0deg) scale(1);     
    }
    }

    .contentOne_leftSide {
      margin-top: 5%;
      user-select: none;
      float: left;
      width: 50%;
  }
    .contentOne_leftSide h2 {
      color: white;
        font-size: 45px;
        margin-bottom: 30px;
    }
    .contentOne_leftSide p {
      color: white;
        font-size: 20px;
        line-height: 150%;
    }
    //botao
    .contentOne_middle{
      transform: translate(0%,0%);
      text-align: center;
      display: flex;
      align-items: center;
      width: 40%;

      .contentOne_btn{
        position: relative;
        color: white;
        font-size: 24px;
        font-family: "montserrat";
        text-decoration: none;
        margin: 50px 0;
        border: 1px solid #cf2700;
        padding: 18px 40px;
        text-transform: uppercase;
        overflow: hidden;
        font-weight: bold;
      }
      
      .contentOne_btn::before{
        background-image: linear-gradient(90deg, #f46626, #cf2700);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%,0%);
        z-index: -1;
        transition: all 0.3s ease;
      }
      
      .contentOne_btn1::before{
        width: 0%;
        height: 100%;
      }
      
      .contentOne_btn1:hover::before{
        width: 100%;
      }
      .contentOne_btn1:hover{
        transition: border 2s ease;
        border: 1px solid #070606;
        color: #070606;
      }
  }
    .contentOne_rightSide {
        float: left;
        width: 50%;
        user-select: none;
        padding-left: 20%;
    }
    .contentOne_rightSide img {
      width: 450px;
      position: relative;
      z-index: 2;
    }
  }
  .section3{
    padding-top: 10%;
    
    .txt_parallax {
      margin-top: 10%;
      width: 100%;
  }
    .txt_parallax h2 {
      color: white;
      font-size: 45px;
      margin-bottom: 30px;
      text-align: center;
    }
    .txt_parallax p {
      color: white;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      margin: 0 10%;
    }
    //botao
      .contentTree_middle{
        transform: translate(0%,0%);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
      

        .contentTree_btn{
          width: 40%;
          text-align: center;
          position: relative;
          color: white;
          font-size: 30px;
          font-family: "montserrat";
          text-decoration: none;
          margin: 10% 0;
          border: 1px solid #cf2700;
          padding: 18px 40px;
          text-transform: uppercase;
          overflow: hidden;
          font-weight: bold;
          backdrop-filter: blur(10px);

        }
        
        .contentTree_btn::before{
          background-image: linear-gradient(90deg, #f46626, #cf2700);
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(0%,0%);
          z-index: -1;
          transition: all 0.3s ease;
        }
        
        .contentTree_btn1::before{
          width: 0%;
          height: 100%;
        }
        
        .contentTree_btn1:hover::before{
          width: 100%;
        }
        .contentTree_btn1:hover{
          transition: border 2s ease;
          color: #070606;
        }
    }

    
  }
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
}


