footer{
  width: 100%;
  height: 250px;
  background-color: #070606ef;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

    img{
      width: 150px;
      padding-bottom: 20px;
    }
  p{
    color: white;
    padding: 10px 0;
    border-bottom: solid 1px rgb(255, 255, 255); ;
  }

  .color_p{
    color:rgb(46, 46, 46) ;
    border: none;
  }
}


@media screen and ( max-width: 720px) {

  footer{
    width: 100%;
    height: 250px;
    background-color: #070606ef;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
      img{
        width: 150px;
        padding-bottom: 20px;
      }
    p{
      color: white;
      padding: 10px 0;
      border-bottom: solid 1px rgb(255, 255, 255);
      font-size: 15px;
    }
  
    .color_p{
      color:rgb(46, 46, 46) ;
      border: none;
    }
  }
}