form{
    background-color: white;
    width: 80%;
    padding: 2% 0;

    .info-left{ 
        display: flex;
        flex-direction: column;
        gap: 20px;
        .header-pay{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .optionCheckout{
        border: 1px solid #5c5c5c;
        display: flex;
        padding: 20px 3%;

            .radio{
                margin-right: 10px;
            }
        }
    }
    input{
        padding: 10px;
        &:hover{
            box-shadow: 0 0 0 0;
            outline: 0;
        }
        &:focus{
            box-shadow: 0 0 0 0;
            outline: 0;
        }
    }
}
