
.header {
  position: fixed; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  padding: 5px 0;
  z-index: 1000;
  background-color: #070606;

  img{
    width: 200px;
  }
  
  .max{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    .header-title {
      margin: 0;
    }
    
    .header-right {
      display: flex;
      align-items: center;
    }    

    .faq {
      color: white;
      border: none;
      padding: 10px;
      margin-right: 50px;
      transition: 500ms;
      cursor: pointer;
      letter-spacing: 3px;
      z-index: 5;
      position: relative;
      user-select:none;

      //underline effect
      text-decoration: none;
      background-image: linear-gradient(90deg, #f46626, #cf2700);
      background-repeat: no-repeat;
      background-size: 0% 3px;
      background-position: left bottom;
    }
    .faq:hover {
      transform: translateZ(0);
      backface-visibility: hidden;
      color: #f46626;
      background-size: 100% 3px;
    }
  }
}

.middle{
  transform: translate(0%,0%);
}
.btn{
  background: none;
  position: relative;
  display: flex;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 1px solid #cf2700;
  padding: 14px 40px;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 15;
  border-radius: 5px;
  user-select:none;
  cursor: pointer;
      
}

.btn::before{
  background-image: linear-gradient(90deg, #f46626, #cf2700);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%,0%);
  z-index: -1;
  transition: all 0.3s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}

.btn1:hover{
  transition: border 2s ease;
  border: 1px solid #070606;
  color: #070606;
  font-weight: bold;
}

.btn_voltar{
  display: none;
}

// responsivo

@media screen and ( max-width: 720px) {
  .logo{
    width: 50% !important;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    img{
      width: 130px;
    }
  }
  .header-right{
    width: 50% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .faq{
      display: none !important;
    }
  }
}

