.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  color: white;
  width: 100%;
  padding: 20px 0;

  img{
    width: 200px;
  }
  
  .max{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .header-title {
      margin: 0;
    }
    
    .header-right {
      display: flex;
      align-items: center;
    }    

    .faq {
      color: white;
      border: none;
      padding: 10px;
      margin-right: 10px;
    }
  }
}


.middle{
  transform: translate(0%,0%);
}
.btn{
  position: relative;
  display: flex;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 1px solid #fd6014;
  padding: 14px 40px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.btn::before{
  background: #fd6014;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%,0%);
  z-index: -1;
  transition: all 0.3s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}

.btn1:hover{
  color: #141414;
  

}


