.accordion {
  width: 100%;
  overflow: hidden;
  padding: 150px 20%;
}

.accordion-header {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin: 10px 0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out; /* usando ease-in-out */
  background-color: #f1f1f1;
}


.accordion-content.open {
  max-height: 400px; /* Altura desejada em pixels */
}
