.section1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

@media screen and ( max-width: 720px) {
  .contentOne_leftSide{
    width: 80% !important;
  }
  .contentOne_rightSide{
    width: 80% !important;
  }
  .contentOne_rightSide img{
    width: 100% !important;
    overflow-x: hidden !important;
    .contentOne_shape{
      width: 20px !important;
    }
  }
}

.shape_in{
  animation: shape_in 3000ms cubic-bezier(.17,.67,.18,1) 0ms 1 normal forwards;
}
.shape2_in{
  animation: shape2_in 2900ms cubic-bezier(.17,.67,.18,1) 0ms 1 normal forwards;
}
  @keyframes shape_in{
    0% {
      transform: rotate(100deg) scale(0);
    }
    100% {
      transform: rotate(0deg) scale(1);     
    } 
  }
  @keyframes shape2_in{
    0% {
      transform: rotate(-100deg) scale(0);
    }
    100% {
      transform: rotate(0deg) scale(1);     
    }
  }
    .contentOne_shape {
    position: absolute;
    width: 40%;   
    right: 0; 
    z-index: 1;
    opacity: 1;
    transform-origin: 70% 55%;
    animation: anima_shape 200000ms ease-in-out 0ms infinite;
  }
  .contentOne_shape2{
    position: absolute;
    width: 40%;   
    right: 0; 
    z-index: 1;
    opacity: 1;
    transform-origin: 70% 55%;
    animation: anima_shape 130000ms ease-in-out 0ms infinite;
  }
  @keyframes anima_shape {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
    transform: translate(-30px, -80px) rotate(180deg) scale(1.1);
    }
    50% {
      transform: rotate(360deg) scale(1.05);
    }
    75% {
      transform:  rotate(180deg) scale(1.1);
    }
    100% {
      transform: rotate(0deg) scale(1);     
  }
  }

  .contentOne_leftSide {
    margin-top: 5%;
    user-select: none;
    float: left;
    width: 50%;
}
  .contentOne_leftSide h1 {
    color: white;
      margin-bottom: 30px;
  }
  .contentOne_leftSide p {
    color: white;
      line-height: 150%;
  }
  //botao
  .contentOne_middle{
    transform: translate(0%,0%);
    text-align: center;
    display: flex;
    align-items: center;
    width: 50%;

    .contentOne_btn{
      position: relative;
      color: white;
      font-family: "montserrat";
      text-decoration: none;
      margin: 50px 0;
      border: 1px solid #cf2700;
      padding: 18px 40px;
      text-transform: uppercase;
      overflow: hidden;
      user-select:none;
      border-radius: 5px;
    }
    
    .contentOne_btn::before{
      background-image: linear-gradient(90deg, #f46626, #cf2700);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%,0%);
      z-index: -1;
      transition: all 0.3s ease;
    }
    
    .contentOne_btn1::before{
      width: 0%;
      height: 100%;
    }
    
    .contentOne_btn1:hover::before{
      width: 100%;
    }
    .contentOne_btn1:hover{
      transition: border 2s ease;
      border: 1px solid #070606;
      color: #070606;
      font-weight: bold;
    }
}
  .contentOne_rightSide {
      float: left;
      width: 50%;
      user-select: none;
      padding-left: 20%;
  }
  .contentOne_rightSide img {
    width: 500px;
    position: relative;
    z-index: 2;
  }
}