.accordion {
  width: 100%;
  overflow: hidden;
  padding: 150px 20%;
}

.title{
  color: white;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 3px;
  font-size: 50px;
}
.accordion-header {
  box-shadow: 5px 3px  #000000;
  display: flex;
  background-image: linear-gradient(90deg, #f46626, #cf2700);
  font-weight: bold;
  font-size: 24px;
  border-radius:  5px 5px 0px 0px;
  color: #000000;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;


  .icon{
   padding-top: 10px;
   font-size: 30px;
   color: #000000f8;
   
   
  }
}

.accordion-content {
  box-shadow: 5px 3px  #000000;
  top: 140px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5em;
  max-height: 0;
  padding: 0px 20px;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  
  background-image: linear-gradient(90deg, #f46626, #cf2700);
}


.accordion-content.open {
  max-height: 500px;
  padding-bottom: 20px;
  transition:  max-height 1s ease-out  ;
}


@media screen and ( max-width: 720px) {

  .accordion {
    width: 100%;
    overflow: hidden;
    padding: 50px 7%;
  }
  
  .title{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-size: 30px;
  }
  .accordion-header {
    box-shadow: 5px 3px  #000000;
    display: flex;
    background-image: linear-gradient(90deg, #f46626, #cf2700);
    font-weight: bold;
    font-size: 20px !important;
    border-radius:  5px 5px 0px 0px;
    color: #000000;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;

    .icon{
     padding-top: 10px;
     font-size: 25px;
     color: #000000f8;
    }
  }

  .accordion-header h2{
    font-size: 20px;
    width: 85%;
  }
  
}